<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../Scripts/navbar.css" rel="stylesheet">

</head>

<body>
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <div class="container">
        <div class="navigationbar"></div>

        <h1>Log in</h1>
        <h3>Use a local account to log in.</h3>

        <form id="login-form" role="form" style="display: block;">
            <div class="form-group">
                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" style="width:30%;margin-top:30px;">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" style="width:30%;">
            </div>

            <div class="form-group">
                <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Log In" style="width:30%;margin-top:10px;">
            </div>
            <script>
                $("#login-submit").click(function () {
                    var name = $("#username").val();
                $.getJSON(apiUrl + "/" + name)
                .done(function (user) {
                    alert(user.Name + " founded");
                })
                .fail(function (jqXHR, textStatus, err) {
                    alert("user doesn't exist");
                });
            });
            </script>
        </form>

    </div> <!-- /container -->

    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../Scripts/navbar.js"></script>

</body>
</html>
